type cne, domain;
type cne_exec, exec_type, file_type;
type cne_socket, file_type;
type cne_data_file, file_type;

init_daemon_domain(cne)
net_domain(cne)
qmux_socket(cne)

allow cne cne_data_file:dir search;

allow cne cne_socket:sock_file create_file_perms;
allow cne cne_data_file:file create_file_perms;
allow cne cne_data_file:dir rw_dir_perms;

# Connectivity engine is preloaded in all processes
allow appdomain cne_data_file:sock_file rw_file_perms;
allow appdomain cne:unix_stream_socket connectto;

allow cne cne_data_file:sock_file create_file_perms;
allow cne self:capability { setuid dac_read_search dac_override net_raw net_admin sys_module fsetid setgid chown };
allow cne self:netlink_route_socket { create_socket_perms nlmsg_read };
allow cne self:netlink_tcpdiag_socket { create_socket_perms nlmsg_read };
allow cne self:udp_socket { create ioctl };
allow cne system:tcp_socket { read write };
allow cne release_app:tcp_socket { read write };
allow cne untrusted_app:tcp_socket { read write };

allow cne platform_app:fd use;
allow cne release_app:fd use;
allow cne untrusted_app:fd use;
allow cne shared_app:fd use;
allow cne mediaserver:fd use;

allow cne diag_device:chr_file rw_file_perms;
allow cne qmuxd_socket:dir search;

allow cne sysfs_wake_lock:file rw_file_perms;

# Talk to init over the property socket
unix_socket_connect(cne, property, init)
allow cne system_prop:property_service set;

# Read tzdata
allow cne system_data_file:file r_file_perms;
