# GPU (used by most UI apps)
type gpu_device, dev_type;

type wlan_device, dev_type;

type diag_device, dev_type;
type ramdump_device, dev_type;

type smd_device, dev_type;

# Shared memory logger
type shared_log_device, dev_type;

type power_control_device, dev_type;

# Real Time Clock
type rtc, dev_type;

type modem_block_device, dev_type;

# QSEECOM
type qseecom_device, dev_type;
type fscklogs, dev_type;

type thermal_device, dev_type;
